In [1]:
file = open("harry potter.txt","r")

In [2]:
text = file.readlines()
text = text[0]

text

'“She’s still alive,” said Riddle. “But only just.”Harry stared at him. Tom Riddle had been at Hogwarts fifty years ago, yet here he stood, a weird, misty light shining about him, not a day older than sixteen.“Are you a ghost?” Harry said uncertainly.“A memory,” said Riddle quietly. “Preserved in a diary for fifty years.”He pointed toward the floor near the statue’s giant toes. Lying open there was the little black diary Harry had found in Moaning Myrtle’s bathroom. For a second, Harry wondered how it had got there — but there were more pressing matters to deal with.“You’ve got to help me, Tom,” Harry said, raising Ginny’s head again. “We’ve got to get her out of here. There’s a basilisk… I don’t know where it is, but it could be along any moment…Please, help me.”Riddle didn’t move. Harry, sweating, managed to hoist Ginny half off the floor, and bent to pickup his wand again.But his wand had gone.“Did you see —?”He looked up. Riddle was still watching him — twirling Harry’s wand between his long fingers.“Thanks,” said Harry, stretching out his hand for it.A smile curled the corners of Riddle’s mouth. He continued to stare at Harry, twirling the wand idly.“Listen,” said Harry urgently, his knees sagging with Ginny’s dead weight. “We’ve got to go! If the basilisk comes —”“It won’t come until it is called,” said Riddle calmly.Harry lowered Ginny back onto the floor, unable to hold her up any longer.“What d’you mean?” he said. “Look, give me my wand, I might need it —”Riddle’s smile broadened.“You won’t be needing it,” he said.Harry stared at him. '

In [3]:
import keywords_extraction

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/raphaelstrebel/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [4]:
keywords = keywords_extraction.get_keywords_from_text(text)

In [95]:
import pandas as pd

word_emotion = pd.read_csv("emotion_db.csv")

In [97]:
word_emotion.drop(columns=["negative", "positive"])

,word,anger,anticipation,disgust,fear,joy,sadness,surprise,trust
0,aback,0,0,0,0,0,0,0,0
1,abacus,0,0,0,0,0,0,0,1
2,abandon,0,0,0,1,0,1,0,0
3,abandoned,1,0,0,1,0,1,0,0
4,abandonment,1,0,0,1,0,1,1,0
...,...,...,...,...,...,...,...,...,...
14177,zone,0,0,0,0,0,0,0,0
14178,zoo,0,0,0,0,0,0,0,0
14179,zoological,0,0,0,0,0,0,0,0
14180,zoology,0,0,0,0,0,0,0,0
14181,zoom,0,0,0,0,0,0,0,0

In [96]:
keywords_df = pd.DataFrame(keywords, columns= ["word"], dtype="str")
keywords_emotion = word_emotion.merge(keywords_df, on="word").drop(columns="word")
keywords_emotion.sum(axis=0)

anger           2
anticipation    4
disgust         1
fear            3
joy             3
negative        4
positive        6
sadness         5
surprise        2
trust           5
dtype: int64